
.container{
    width: 50%;
    
}
.shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.position{
    position: fixed ;
    top: 0;
    z-index:1;
    /* background:rgba(128, 128, 128, 0.288); */
}

.card-profile{
    width: 100px;
    height: 100px;
   
}
:root{
    --maincolor:blue;
    --bgColor:#fff;
    --bdColor:gray;
    --btnHover:none;
}

.bg-info{
    margin-left: 35%;
    margin-bottom: 10%;
    background:var(--bgColor);
}
.box-shadow{
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* // cham  */

.bi-house-fill,.bi-people,.bi-person-circle{
    margin: 10px;
    font-size:2em;
    color:#1877F2;
}

/* profile */
.image-profile{
    width: 70px;
    height: 70px;
    position: static;
}